
.contMain{
	position:fixed;
	float:left;
	height:100%;
	background-color:#36F;
	width:100%;
	background-image:url(../gradient18.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	
}
.innerMain{
	position:fixed;
	float:left;
	height:100%;
	background-color:#36F;
	width:100%;
	background-color:rgba(0,0,0,0.7);
}
.logo{
		width: 50%;
	min-height: 100px;
	position:relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #fff;
}
.logoTitle p.first{
	font-size: 22px;
}
.logoTitle p.second{
	font-size: 18px;
}
.buttonWrap{
	width: 50%;
	height: 100px;
	position:relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.buttonMain{
	height: 100%;
	width: 33.33%;
	float: left;
	cursor: pointer;
	border-radius: 3px;
}
.upper{
	width: 100%;
	height: 50%;
	text-align: center;
	color: azure;
	font-size: 18px;
}
.upper img{
	margin-top: 5px;
}
.buttonMain:hover{
	background-color:rgba(255,255,255,0.4);
	-webkit-transition:  0.3s, ease;
    -moz-transition:  0.3s, ease;
    -ms-transition: 0.3s, ease;
    -o-transition:  0.3s, ease;
    transition:  0.3s, ease;
}